
/* General Rules */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {

  background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%), url(/assets/blog.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: inherit;
  height: 100vh;
}


/* Container */
.container {
  width: 100%;
  height: 100vh;
  border-radius: 30px 30px;
  margin: auto;
  display: flex;
  flex-direction: column;

  }

/* header */

.header{
  width: 100%;
  height: 130px;
  color:#ff7200;
  background: #3a352d6b;
  display:flex;
  align-items: center;
  
}

.icon{
  width: 200px;
  float: left;
}

.logo{
  color: #ff7200;
  font-size: 60px;
  font-family: Arial;
  text-shadow: 1px 1px 5px rgb(164, 160, 160);
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  
}

.navbar{
  width: 100%;
  height: 50px;
}

.menu{
  width: 100%;
  
  position: relative;
  margin: auto;
}

ul{
  float: right;
  display: flex;
}

ul li{
  list-style: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-shadow: 4px 4px 6px black;
  padding-right: 25px;
  }

ul li a{
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  letter-spacing: 0.05rem;
  
}

ul li a:hover{
  color: #ff7200;
}


/* main content*/
.content{
  width: 100%;
  height: 500px;
  color: #fff;
}

/* section hello */
.content h1{
  font-family: 'Times New Roman';
  font-size: 35px;
  padding-left: 20px;
  margin-top: 100px;
  letter-spacing: 1px;
}

.content span{
  color: #ff7200;
  font-size: 55px;
  text-shadow: 1px 1px 4px rgb(84, 83, 83);
}

/* Section apresentation */
.apresentation {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.par{
  max-width: 550px;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 1.5rem;
  display: inline-flex;
  text-shadow: 5px 5px 15px #622d01;
  text-align: justify;
}

.picture {
  max-width: 350px;
  min-width: 260px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px #622d01;
}

/* Blog Posts Sprints */
.sprint{
 width: 100%;
 background: #514b415c;
 border-radius: 20px;
 padding: 15px;
 text-align: justify;
}

.sprint span {
  font-size: 45px;
}

.sprint a {
  color: #fff;
  font-size: 2rem;
  background-color: #635f5c48;
  border-radius: 40px;
  padding: 10px;
}


.sprint a:hover{
  color: #ff7200;
}

@media (max-width: 600px) {

  .header {
    height: 200px;
  }

  .logo {
      font-size: 45px;
    }

  ul li {
    font-size: 1rem;
    padding: 10px;
  }

  .par {
    font-size: 1.3rem;
    padding: 10px;
    
  }

  .sprint h1 a {
    font-size: .8rem;
    text-align: left;
    padding-top: 10px;
  }

}